body{
	background-color:  #f0f0f5;
}

nav{
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border-bottom: 2px solid black;
}

nav ul{
    list-style: none;
    position: relative;
    float: center;
    display: inline-table;
  }

nav ul li{
      float: left;
  }

nav ul li a{
        display: block; 
        padding: 10px 10px;
        color: #333; 
        font-size: 15px;
        letter-spacing: 1px;
        text-decoration: none;
        text-transform: uppercase;
      }

nav a:hover{
	background-color:gray;
}

      
header{
	font-family: vladimir script;
	font-size: 45px;
	text-shadow: 1px 1px;
}

section{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
}
.ban{
	width: 900px;
	height: 350px;
	background-image: url(img/watch.jpg);
	background-size: cover;
	margin-top:2%;
	text-align: right;
	font-size: 30px;
	font-style: italic;
	text-shadow: 1px 1px 2px black;
	color: white;
	margin-left: 15%

}
.pic {  
  margin-top: 2%;	
  height: 500px;
  width: 550px;
  margin: 20px;
  overflow: hidden;
  display: inline-block;
  text-align: center;
}
.pic img{
	height: 550px;
  	width: 550px;
 	transition: all 1s ease;
}
 .pic img:hover {
  width: 400px;
  height: 400px;
}
.pic span{
	font-size: 25px;
	font-style: italic;
	text-shadow: 1px 1px 2px;
}
.podval{
	display: inline-block;
	margin-right: 20px;
	margin-left: 20px; 
	vertical-align:top;
}

footer{
	width: 100%;
	margin-top: 5%;
	text-align: center;
	background-color: black; 
}

.podval a{
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	font-size: 10px;
}

 .zagolovok{
	text-decoration: underline;
	text-transform: uppercase;
	color: white;
	font-size: 20px;	
}

.podval a:hover{
	color: gray;
}

.podval button{
	border-radius: 2px;
	font-family: arial,sans-serif;
	background: white linear-gradient(#f4f4f4, #f1f1f1);
}

.kon{
	color: white;
	font-size: 15px;
	margin-top: 5%;
}

.logot{
	font-family: vladimir script;
	font-size: 45px;
	text-shadow: 0.5px 0.5px;
	color: white;
	margin-top: 3%; 
}

header, nav, section, article,footer{
	display: block;
}

@media screen and (max-width: 1200px) {
	.ban{
		margin-left: 5%;
		margin-right: 5%;
		width: 90%
	}
	.pic img{
		width: 70%;
		height: 70%;
	}
	.pic{
		width: 75%;
		height: 75%
	}
}
@media 	screen and (max-width: 480px) {
	section{
		margin-top: 25%
	}
}
@media 	screen and (max-width: 420px) {
	section{
		margin-top: 30%
	}
}